### Load 'titanic_train.csv' CSV file and save last 5 rows in Excel format

In [35]:
import pandas as pd
import numpy as np
import os

dane = pd.read_csv("files_pandas_21_01_2017/titanic_train.csv")
dane=dane.tail(5)
writer = pd.ExcelWriter('files_pandas_21_01_2017/titanic_train_tail5.xlsx')
dane.to_excel(writer, sheet_name='Sheet1')
writer.save()
dane

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

### Load Excel file from previous exercise and save it again with only first four columns

In [31]:
dane2 = pd.read_excel('files_pandas_21_01_2017/titanic_train_tail5.xlsx')
dane2 = dane2.head(4)
writer = pd.ExcelWriter('files_pandas_21_01_2017/titanic_train_tail5_head4.xlsx')
dane2.to_excel(writer, sheet_name='Sheet1')
writer.save()

### Test how loc and iloc works (be creative :) )

In [29]:
dane.loc[890]

PassengerId                    891
Survived                         0
Pclass                           3
Name           Dooley, Mr. Patrick
Sex                           male
Age                             32
SibSp                            0
Parch                            0
Ticket                      370376
Fare                          7.75
Cabin                          NaN
Embarked                         Q
Name: 890, dtype: object

### Załaduj plik csv z `titanic_train.csv` z folderu `files_pandas_21_01_2017`

#### Sprawdź pierwsze wiersze

#### Policz wystąpienia wartości zmiennej survived

#### Sprawdź typy danych

# Wróćmy do wykładu - Zmiana typów danych w czasie odczytu

## Exercises

### Load 'titanic_train.csv' file, with category type for all columns that are compatible with this type.

In [47]:
dane = pd.read_csv("files_pandas_21_01_2017/titanic_train.csv", 
                   dtype={
                       'Survived': np.bool,
                       'Sex': 'category',
                       'Pclass': np.int8,
                       'Passenger': np.int16,
                       'Embarked': 'category',
                       'Fare': np.float16,
                       'SibSp': np.int8,
                       'Age': np.float16,
                       'Parch': np.int16
                   })
dane.head(5)
dane.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null bool
Pclass         891 non-null int8
Name           891 non-null object
Sex            891 non-null category
Age            714 non-null float16
SibSp          891 non-null int8
Parch          891 non-null int16
Ticket         891 non-null object
Fare           891 non-null float16
Cabin          204 non-null object
Embarked       889 non-null category
dtypes: bool(1), category(2), float16(2), int16(1), int64(1), int8(2), object(3)
memory usage: 116.6 KB

### Fill NaN values in Age column with mean value of this column.

### Fill NaN values in Embarked with most common location.

### Create 3 Series with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

### Display passengers with Age above 50

### Display passengers that Embarked at location S and are female

### Display passengers that paid for ticket more than 50 and are not in first class

### Display all passengers with Names that contain 'Johnson' (it's a surname)

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.\
2. Znajdź 10 meczów z największą różnicą bramek.
3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.
4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.